<h2>Hae elokuvia</h1>
<div ng-controler="AddMovieController">
    <form class="col-sm-6">
        <div class="form-group" >
        <label for="movieName">Nimi</label>
        <input name="movieName" class="form-control" id="movieName" type="text" ng-model="movieName">
        </div>
        <div class="form-group" >
        <label for="movieYear">Vuosi</label>
        <input name="movieYear" class="form-control" id="movieYear" type="number" ng-model="movieYear">
        </div>
        <button type="submit" class="btn btn-primary" ng-click="findMovie()">Hae</button>
    </form>
    <div class="col-sm-10">
    <h3 ng-show="notfound">Haulla ei löytynyt elokuvia</h3>
    <h3 ng-show="found">Haulla löytyi <ng-pluralize count="findcount" offset='1'
                                            when="{'1': '{{findcount}} elokuva',
                                            'other': '{{findcount}} elokuvaa'}"></ng-pluralize></h3>
    <table class="table" ng-show="found">
        <tr>
            <th>Nimi</th>
            <th>Julkaisuvuosi</th>
        </tr>
        <tr ng-repeat="movie in movies">
            <td><a ng-href="http://www.imdb.com/title/{{movie.imdbID}}">{{movie.Title}}</a></td>
            <td>{{movie.Year}}</td>
        </tr>    
    </table>

</div>
</div>